@font-face {
	font-family: "Futura-Light";
	src: url("../fonts/futura/Futura-Light.eot");
	src: local("☺"),
		 url("../fonts/futura/Futura-Light.woff") format("woff"),
		 url("../fonts/futura/Futura-Light.ttf") format("truetype"),
		 url("../fonts/futura/Futura-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FuturaStd-Bold";
	src: url("../fonts/futura/FuturaStd-Bold.eot");
	src: local("☺"),
		 url("../fonts/futura/FuturaStd-Bold.woff") format("woff"),
		 url("../fonts/futura/FuturaStd-Bold.ttf") format("truetype"),
		 url("../fonts/futura/FuturaStd-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FuturaStd-Book";
	src: url("../fonts/futura/FuturaStd-Book.eot");
	src: local("☺"),
		 url("../fonts/futura/FuturaStd-Book.woff") format("woff"),
		 url("../fonts/futura/FuturaStd-Book.ttf") format("truetype"),
		 url("../fonts/futura/FuturaStd-Book.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Black";
	src: url("../fonts/gotham/Gotham-Black.eot");
	src: local("☺"),
		 url("../fonts/gotham/Gotham-Black.woff") format("woff"),
		 url("../fonts/gotham/Gotham-Black.ttf") format("truetype"),
		 url("../fonts/gotham/Gotham-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("../fonts/gotham/Gotham-Bold.eot");
	src: local("☺"),
		 url("../fonts/gotham/Gotham-Bold.woff") format("woff"),
		 url("../fonts/gotham/Gotham-Bold.ttf") format("truetype"),
		 url("../fonts/gotham/Gotham-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Book";
	src: url("../fonts/gotham/Gotham-Book.eot");
	src: local("☺"),
		 url("../fonts/gotham/Gotham-Book.woff") format("woff"),
		 url("../fonts/gotham/Gotham-Book.ttf") format("truetype"),
		 url("../fonts/gotham/Gotham-Book.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Medium";
	src: url("../fonts/gotham/Gotham-Medium.eot");
	src: local("☺"),
		 url("../fonts/gotham/Gotham-Medium.woff") format("woff"),
		 url("../fonts/gotham/Gotham-Medium.ttf") format("truetype"),
		 url("../fonts/gotham/Gotham-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nexa-Rust-Script-B3";
	src: url("../fonts/nexa/Nexa-Rust-Script-B3.eot");
	src: local("☺"),
		 url("../fonts/nexa/Nexa-Rust-Script-B3.woff") format("woff"),
		 url("../fonts/nexa/Nexa-Rust-Script-B3.ttf") format("truetype"),
		 url("../fonts/nexa/Nexa-Rust-Script-B3.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}