body {
	.footer {
		border: none;
		margin: 0;
		max-width: 100%;
		min-width: 100%;
		padding: 0;
		width: 100%;

		#block-block-51 {
			p {
				background-color: $white;
				padding: rem(5px) 20px;
				text-align: center;
				font-size: rem(11px);
			}
		}
	}
}

.ab-inbev-footer {
	background: $footer-gray;
	padding: rem(10px);

	@include mq('md') {
		padding: rem(11px);
		margin: 0;
	}

	.ab-inbev-footer-content-1,
	.ab-inbev-footer-content-2 {
		@include cont;
		color: $white;
		max-width: 90%;
		text-align: center;

		a {
			color: $white;
		}
	}

	.ab-inbev-footer-aware-logo {
		background-image: url('../images/brand/awarelog-new.png');
		background-size: 100% 100%;
		display: block;
		height: rem(60px);
		margin: rem(14px) auto;
		overflow: hidden;
		text-indent: -999999px;
		width: rem(120px);

		@include mq('md') {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}
	
	.tap-logo {
		@include mq('md') {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}

	.ab-inbev-footer-tap-into-your-beer {
		background-image: url('../images/brand/tap-beer.png');
		background-size: 100% 100%;
		display: block;
		height: rem(13px);
		margin: rem(20px) auto rem(15px);
		overflow: hidden;
		text-indent: -999999px;
		width: rem(200px);

		@include mq('md') {
			display: inline-block;
			margin: 0 rem(22px);
			vertical-align: middle;
		}
		
	}

	.social-networks {
		display: block;
		margin-top: rem(40px);
		padding: 0;
		text-align: center;

		@include mq('md') {
			display: inline-block;
			margin-top: 0;
			vertical-align: middle;
		}

		li {
			display: inline-block;
			margin: 0 rem(5px);

			a {
				background-color: transparent;
				border-radius: 100%;
				display: block;
				height: rem(29px);
				position: relative;
				width: rem(29px);

				&:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}

			&.facebook {
				a {
					@include iconSVG('../images/icons/facebook-logo.svg', 25px);
					text-indent: 999999px;
				}
			}

			&.instagram {
				a {
					@include iconSVG('../images/icons/instagram-logo.svg', 25px);
					text-indent: 999999px;
				}
			}

			&.youtube {
				a {
					@include iconSVG('../images/icons/youtube-logo.svg', 25px);
					text-indent: 999999px;
				}
			}

			&.twitter {
				a {
					@include iconSVG('../images/icons/twitter-logo.svg', 25px);
					text-indent: 999999px;
				}
			}

			&.linkedin {
				a {
					@include iconSVG('../images/icons/linkedin-logo.svg', 25px);
					text-indent: 999999px;
				}
			}
		}
	}

	.ab-inbev-footer-content-1 {
		padding: 0;

		@include mq('md') {
			border-bottom: rem(1px) solid $white;
			padding: rem(12px) 0;
			text-align: left;
		}

		ul {
			&.footer-menu {
				display: block;
				padding: 0;
				text-align: center;

				@include mq('md') {
					display: inline-block;
					float: right;
					margin-top: rem(2px);
					text-align: right;
				}

				li {
					border-right: rem(1px) solid $white;
					display: inline-block;

					@include mq('md') {
						line-height: 1;
					}

					a {
						@include font(11px);
						padding: 0 rem(14px);
						text-transform: uppercase;

						@include mq('tb') {
							@include font(10px);
						}
					}

					&:last-child {
						border-right: none;

						a {
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	.ab-inbev-footer-content-2 {
		padding: rem(24px) 0;
		text-align: center;

		@include mq('md') {
			display: flex;
			text-align: left;
			width: 100%;
		}

		.ab-inbev-footer-content-2-text {
			letter-spacing: -0.3px;
			text-align: center;

			@include mq('md') {
				text-align: left;
				width: 45.3%;
			}

			&-1 {
				@include font(11px);
			}

			&-2 {
				font-weight: normal;
				@include font(9px);

				@include mq('md') {
					@include font(11px);
				}
			}

			.ab-inbev-footer-content-2-text-1 {
				span {
					font-family: $gotham-bold;
				}
			}

			.ab-inbev-footer-content-2-text-2 {
				margin-top: rem(10px);
			}
		}

		.ab-inbev-footer-content-2-beer {
			margin-top: rem(45px);
			position: relative;
			text-align: center;

			@include mq('md') {
				margin-top: rem(16px);
				width: 40%;
			}

			&:before {
				background-color: $light-gray;
				content: '';
				display: block;
				height: rem(1px);
				left: 50%;
				position: absolute;
				top: rem(-25px);
				transform: translateX(-50%);
				width: 90%;

				@include mq('md') {
					display: none;
				}
			}
		}

		.ab-inbev-footer-content-2-links {
			margin-top: rem(16px);
			padding: 0;
			text-align: center;

			@include mq('md') {
				text-align: right;
				width: 27.8%;
			}
		}
	}

	// First footer line
	.ab-inbev-footer-content-1 {
		padding: 0;

		@include mq('md') {
			border-bottom: rem(1px) solid $white;
			padding: rem(12px) 0;
			text-align: left;
		}

		#block-menu-menu-footer-menu {
			display: block;
			padding: 0;
			text-align: center;

			@include mq('md') {
				display: inline-block;
				float: right;
				margin-top: rem(5px);
				text-align: right;
			}

			.nav {
				justify-content: center;
			}

			li {
				display: inline-block;
				border-right: rem(1px) solid $white;

				@include mq('md') {
					line-height: 1;
				}

				a {
					@include font(12px);
					font-family: Arial;
					font-weight: bold;
					padding: 0 rem(8px);
					text-transform: uppercase;

					@include mq('tb') {
						@include font(10px);
					}

					&:hover {
						background-color: transparent;;
					}
				}

				&:last-child {
					border-right: none;

					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}