header {
    &.navbar {
        &.container {
            background-color: $black;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border: none;
            border-radius: 0;
            margin: 0;
            max-width: none;
            width: 100%;
            @include mq (sm) {
                background-size: cover;
            }
            @include mq('md') {
                background-position: center bottom;
            }
            .navbar-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin: rem(30px) 0;
                position: relative;
                top: 0;
                width: 100%;
                z-index: 3;
                @include mq('md') {
                    justify-content: normal;
                }
                &:after,
                &:before {
                    display: none;
                }
                &.open-menu {
                    height: rem(54.6875px);
                }
                .logo,
                .navbar-toggle {
                    &.open-menu {
                        position: fixed;
                        z-index: 2;
                        @include mq('md') {
                            position: static;
                        }
                    }
                }
                .logo {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: rem(80px);
                    @include mq('md') {
                        width: rem(180px);
                    }
                    &.open-menu {
                        top: rem(30px);
                    }
                }
                .name {
                    display: none;
                }
                .navbar-toggle {
                    background-color: transparent;
                    border-radius: 0;
                    border: none;
                    float: none;
                    margin: 0;
                    @include mq('sm') {
                        display: block;
                    }
                    @include mq('md') {
                        display: none;
                    }
                    &.open-menu {
                        right: 15px;
                        top: rem(41px);
                    }
                    .icon-bar {
                        background-color: $white;
                        border-radius: 0;
                        transform-origin: 10% 10%;
                        transition: all 0.5s;
                        width: rem(23px);
                        &:nth-of-type(2) {
                            transform: rotate(0);
                        }
                        &:nth-of-type(3) {
                            opacity: 1;
                        }
                        &:nth-of-type(4) {
                            transform: rotate(0);
                        }
                    }
                    &.collapsed {
                        .icon-bar {
                            &:nth-of-type(2) {
                                transform: rotate(45deg);
                            }
                            &:nth-of-type(3) {
                                opacity: 0;
                            }
                            &:nth-of-type(4) {
                                transform: rotate(-45deg);
                                transform-origin: 10% 100%;
                            }
                        }
                    }
                }
                .logo2 {
                    background-image: url("../images/brand/logo-proudly.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: none;
                    height: rem(50px);
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: rem(50px);
                    @include mq('md') {
                        display: block;
                        height: rem(115px);
                        width: rem(130px);
                    }
                }
                .navbar-collapse {
                    background-color: $darker-gray;
                    border: none;
                    bottom: 0;
                    box-shadow: none;
                    display: block;
                    height: auto !important;
                    left: 100%;
                    padding: rem(150px) rem(20px) 0;
                    position: fixed;
                    top: 0;
                    transition: 1s left ease;
                    width: 100%;
                    z-index: 1;
                    @include mq("md") {
                        background-color: transparent;
                        left: auto;
                        margin: auto;
                        padding: 0;
                        position: relative;
                        right: rem(70px);
                        width: 75%;
                    }
                    &.in {
                        left: 0;
                        @include mq("md") {
                            left: auto;
                        }
                    }
                    nav {
                        margin: 0 auto;
                        max-width: rem(500px);
                        @include mq("md") {
                            max-width: none;
                        }
                        .menu {
                            margin: 0;
                            @include mq('sm') {
                                float: none;
                            }
                            @include mq('md') {
                                display: flex;
                                float: left;
                                justify-content: space-between;
                                width: 100%;
                            }
                            &:before,
                            &:after {
                                @include mq('md') {
                                    display: none;
                                }
                            }
                            li {
                                @include mq('sm') {
                                    float: none;
                                }
                                @include mq('md') {
                                    float: left;
                                }
                                a {
                                    background-color: transparent;
                                    display: block;
                                    color: $white;
                                    font-family: $gotham-bold;
                                    font-size: rem(20px);
                                    padding: 0;
                                    position: relative;
                                    text-transform: uppercase;
                                    @include mq('md') {
                                        font-family: $gotham-book;
                                        font-size: rem(15px);
                                        line-height: 1;
                                        text-transform: none;
                                    }
                                    .caret {
                                        background-image: url("../images/icons/caret_down-white.svg");
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        border: none;
                                        color: transparent;
                                        display: inline-block;
                                        height: rem(9px);
                                        width: rem(20px);
                                        @include mq('md') {
                                            height: rem(7px);
                                            margin-left: rem(1px);
                                            width: rem(12px);
                                        }
                                    }
                                }
                                .dropdown-menu {
                                    background-color: transparent;
                                    border: none;
                                    box-shadow: none;
                                    float: none;
                                    padding: rem(12px) rem(30px) 0;
                                    position: relative;
                                    @include mq("md") {
                                        background-color: $white;
                                        display: block;
                                        max-height: 0;
                                        overflow: hidden;
                                        padding: 0;
                                        position: absolute;
                                        transition: max-height 0.5s ease;
                                    }
                                    li {
                                        margin: 0 rem(20px) rem(10px);
                                        &.first {
                                            margin-top: rem(15px);
                                        }
                                        &.last {
                                            margin-bottom: rem(15px);
                                        }
                                    }
                                    a {
                                        font-size: rem(18px);
                                        @include mq("md") {
                                            color: $black;
                                            font-family: $gotham-book;
                                            font-size: rem(15px);
                                        }
                                    }
                                }
                                &.active {
                                    >a {
                                        color: $golden;
                                        @include mq('md') {
                                            font-family: $gotham-bold;
                                        }
                                    }
                                }
                                &+li {
                                    margin-top: rem(32px);
                                    @include mq("md") {
                                        margin-left: 0;
                                        margin-top: 0;
                                    }
                                }
                                &:hover {
                                    @include mq("md") {
                                        .dropdown-menu {
                                            max-height: 300px;
                                            transition: all 1s;
                                        }
                                    }
                                }
                            }
                            &:nth-child(1) {
                                >li {
                                    &.last {
                                        display: none;
                                        @include mq('md') {
                                            display: block;
                                        }
                                        a {
                                            background-image: url("../images/icons/icon-search.png");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                            height: rem(18px);
                                            text-indent: rem(-9999px);
                                            width: rem(25px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .region-navegation {
                        @include mq("md") {
                            position: relative;
                        }
                    }
                    .block-search {
                        margin: rem(100px) 0 0 !important;
                        transition: all 1s ease;
                        @include mq("md") {
                            margin: 0 !important;
                            opacity: 0;
                            position: absolute;
                            top: rem(50px);
                            visibility: hidden;
                            width: 100%;
                        }
                        .input-group {
                            width: 100%;
                            .input-group-btn {
                                width: rem(44px) !important;
                            }
                            .btn {
                                background-color: transparent;
                                border-radius: 0;
                                border: rem(1px) solid $white;
                                padding: rem(12px) rem(11px) rem(5px);
                                span {
                                    &:before {
                                        background-image: url("../images/icons/icon-send.png");
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        content: '';
                                        display: block;
                                        height: 20px;
                                        width: 20px;
                                    }
                                }
                            }
                            .form-text {
                                background-color: transparent;
                                border-radius: 0;
                                border: rem(1px) solid $white;
                                color: $white;
                                height: rem(44px);
                                width: 100%;
                                @include mq("md") {
                                    text-align: center;
                                }
                            }
                            @include placeholder {
                                color: $white;
                            }
                        }
                        .form-group {
                            margin: 0;
                        }
                        &.open-search {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .title-header {
                color: $white;
                max-width: rem(400px);
                padding: rem(50px) 0 rem(80px);
                @include mq('md') {
                    margin: 0 auto;
                    max-width: rem(1150px);
                    padding: rem(240px) 0 rem(150px) rem(70px);
                }
                h1 {
                    font-family: $gotham-black;
                    font-size: rem(35px);
                    margin: 0;
                    @include mq('md') {
                        font-size: rem(55px);
                        max-width: rem(650px);
                    }
                }
                span {
                    color: $golden;
                    display: block;
                    @include mq('md') {
                        display: block;
                    }
                }
                p {
                    font-size: rem(13px);
                    line-height: 1.1;
                    margin-top: rem(15px);
                    width: 65%;
                    @include mq('md') {
                        font-size: rem(25px);
                        line-height: 1.4;
                        br{
                            display: block;
                        }
                    }
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}

.front {
    header {
        &.navbar {
            &.container {
                .title-header {
                    padding: rem(50px) 0 rem(200px);
                    @include mq('md') {
                        padding: rem(240px) 0 rem(320px) rem(70px);
                    }
                }
            }
        }
    }
}
