.sabc-slider-tabs {
	margin: rem(40px) 0 rem(20px);
	.container-tab {
		padding: 0 rem(25px);
		position: relative;

		.slick-arrow {
			background-image: url("../images/misc/arrow-golden-circle-right.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: rem(25px);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: rem(25px);
			z-index: 1;

			&.slick-next {
				right: rem(0px);

				@include mq('md') {
					right: 12%;
				}
			}

			&.slick-prev {
				left: rem(0px);
				transform: translateY(-50%) rotate(-180deg);

				@include mq('md') {
					left: 12%;
				}
			}
		}

		.slick-track {
			display: flex;
			justify-content: center;
			align-items: stretch;
		}

		.slick-slide {
			height: auto;
			width: 250px !important;

			a {
				align-items: center;
				border-radius: rem(8px);
				border: 1px solid $golden;
				color: $golden;
				display: flex;
				font-family: $gotham-bold;
				font-size: rem(13px);
				height: calc(100% - 4px);
				justify-content: center;
				letter-spacing: rem(-0.7px);
				line-height: 1.2;
				margin: rem(2px);
				padding: rem(17px) rem(5px) rem(14px);
				text-align: center;

				@include mq('xs') {
					font-size: rem(14px);
					letter-spacing: normal;
				}

				@include mq('md') {
					margin: rem(3px);
				}

				&:hover {
					text-decoration: none;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}
}