//--  Fonts --//
$futura-light: "Futura-Light";
$futura-bold: "FuturaStd-Bold";
$futura-book: "FuturaStd-Book";
$gotham-black: "Gotham-Black";
$gotham-bold: "Gotham-Bold";
$gotham-book: "Gotham-Book";
$gotham-medium: "Gotham-Medium";
$nexa-rust: "Nexa-Rust-Script-B3";

// -- Colors -- //
$white: #ffffff;
$black: #101010;
$light-gray: #D8D8D8;
$medium-gray: #B4B3B3;
$gray: #707070;
$dark-gray: #454343;
$darker-gray: #1F1F1F;
$footer-gray: #1f1f1f;
$category-brand-gray: #737373;
$golden: #BAA769;