.custom-gallery {
	.sabc-slider-tabs {
		a.link-4 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-tabs-gallery {
		margin: 0 auto;
		max-width: rem(1560px);
		padding: rem(0px) rem(20px) rem(40px);

		@include mq('md') {
			padding: rem(0px) rem(80px) rem(40px);
		}

		.wrapper-gallery {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			@include mq("sm") {
				flex-direction: row;
			}

			a {
				margin: rem(1px) rem(20px);
				color: $golden;
			}

			span {
				background-image: url("../images/misc/arrow-golden-short-right.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				color: $golden;
				display: block;
				height: rem(15px);
				text-indent: rem(-9999px);
				width: rem(30px);
			}
		}
	}
}