.sabc-harm-reduction--cards {
  margin: 0 auto;
  max-width: rem(1150px);
  padding: 0 rem(20px) rem(40px);  
  @include mq("md") {
    padding: 0 rem(80px) rem(60px);
  }
  .views-row {
    @include mq("md") {
      border-bottom: rem(1px) solid #00000054;
      display: flex;
      margin-bottom: rem(65px);
      padding-bottom: rem(30px);
    }
    .views-field-field-image-entrepre-1 {
      margin-bottom: rem(25px);
      @include mq("md") {
        margin-right: rem(30px);
        width: calc(40% - 30px);
      }
      .field-content {
        position: relative;
        img {
          border-radius: rem(15px);
          width: 100%;
        }
        h3 {
          bottom: 0;
          color: $golden;
          font-family: $gotham-black;
          font-size: rem(28px);
          left: 0;
          margin: 0;
          padding: rem(10px) 0 rem(20px) rem(20px);
          position: absolute;
          text-transform: capitalize;
          @include mq("md") {
            font-size: rem(30px);
            padding: rem(20px) 0 rem(15px) rem(28px);
          }
        }
      }
    }
    .views-field-nothing {
      @include mq("md") {
        width: 60%;
      }
      h2 {
        color: black;
        font-family: Gotham-Black;
        font-size: rem(20px);
        margin-bottom: rem(25px);
        text-transform: uppercase;
        @include mq("md") {
          font-size: rem(25px);
          margin-bottom: rem(10px);
          margin-top: 0;
        }
      }
      .golden {
        color: $golden;
        font-family: $gotham-bold;
        font-size: rem(16px);
        margin-bottom: rem(25px);
        @include mq("md") {
          font-size: rem(20px);
          margin-bottom: 1.5rem;
          line-height: 1;
        }
      }
      p {
        font-size: rem(14px);
        margin-bottom: rem(25px);
        @include mq("md") {
          font-size: rem(15px);
        }
      }
    }
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
