.sabc-entrepreneurship {
	header {
		&.navbar.container {
			background-position: top;
			
			.title-header {
				h1 {
					max-width: rem(910px);
					span {
						display: inline;
					}
				}
			}
		}
	}

	.sabc-slider-tabs {
		a.link-1 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-system {
		margin: 0 auto;
		max-width: rem(1150px);
		padding: rem(0px) rem(20px) rem(40px);

		@include mq('md') {
			padding: rem(0px) rem(80px) rem(40px);
		}

		h2 {
			color: $black;
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(32px);
			}
		}

		h3 {
			color: $golden;
			font-family: $gotham-medium;
			font-size: rem(18px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(25px);
			}
		}

		p {
			font-size: rem(14px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(16px);
			}
		}
	}

	.sabc-community-entrepreneurs {
		margin: 0 auto;
		max-width: rem(1150px);
		padding: 0 rem(20px) rem(40px);

		@include mq('md') {
			padding: 0 rem(80px) rem(60px);
		}

		.views-row {
			@include mq('md') {
				border-bottom: rem(1px) solid $black;
				display: flex;
				margin-bottom: rem(65px);
				padding-bottom: rem(30px);
			}

			.views-field-field-image-entrepre-1 {
				margin-bottom: rem(25px);

				@include mq('md') {
					margin-right: rem(30px);
					width: calc(40% - 30px);
				}

				.field-content {
					position: relative;

					img {
						border-radius: rem(15px);
						width: 100%;
					}

					h3 {
						bottom: 0;
						color: $golden;
						font-family: $gotham-bold;
						font-size: rem(27px);
						left: 0;
						margin: 0;
						padding: rem(12px) rem(20px);
						position: absolute;

						@include mq('md') {
							font-size: rem(30px);
							padding: rem(15px) rem(30px);
						}
					}
				}
			}

			.views-field-nothing {
				@include mq('md') {
					width: 60%;
				}

				h2 {
					color: $black;
					font-family: $gotham-black;
					font-size: rem(20px);
					margin-bottom: rem(25px);
					text-transform: uppercase;

					@include mq('md') {
						font-size: rem(25px);
						margin-bottom: rem(15px);
						margin-top: 0;
					}
				}

				.golden {
					color: $golden;
					font-family: $gotham-medium;
					font-size: rem(18px);
					margin-bottom: rem(25px);

					@include mq('md') {
						font-size: rem(20px);
					}
				}

				p {
					font-size: rem(14px);
					margin-bottom: rem(25px);

					@include mq('md') {
						font-size: rem(16px);
					}
				}
			}

			&:last-of-type {
				border-bottom: none;
				margin-bottom: 0;
			}
		}
	}
}