.sabc-transformation {
	header {
		&.navbar.container {
			background-position: 77%;

			@include mq('md') {
				background-position: top;
			}
			
			.title-header {
				h1 {
					max-width: rem(700px);

					@include mq('lg') {
						max-width: rem(780px);
					}

					span {
						display: inline;
					}
				}
			}
		}
	}

	.sabc-slider-tabs {
		a.link-2 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-system {
		h2 {
			color: $golden;
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);
			text-transform: uppercase;

			@include mq('md') {
				font-size: rem(32px);
			}
		}

		h3 {
			color: $white;
			font-family: $gotham-bold;
			font-size: rem(18px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(25px);
			}
		}

		p {
			font-size: rem(14px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(16px);
			}
		}
	}

	#block-views-beneficiaries-block{
		.block-title{
			color: $golden;
			font-family: $gotham-bold;
			font-size: rem(32px);
			text-transform: uppercase;
			margin: 0;
			padding: 0 2.4rem;
		}
		.view-beneficiaries{
			ul{
				padding: 0;
				display: flex;
				overflow-x: scroll;
				margin-top: 2.1em;
				list-style: none;
				.views-row{
					position: relative;
					min-width: 260px;
					.views-field-field-beneficiarie-image{
						height: 100%;
						.field-content{
							height: 100%;
						}
						img{
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
					.views-field-body{
						position: absolute;
						width: 100%;
						bottom: 0;
						left: 0;
						padding: 1em 8% 0;
						background: $black;
						background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
						background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
						min-height: 214px;
						font-family: $gotham-black;
						color: rgba($white, .2);
						font-size: rem(42px);
						p{
							color: $white;
							font-size: rem(14px);
							line-height: 1.3;
							font-family: $gotham-medium;
						}
					}
					.views-field-counter{
						position: absolute;
						width: 100%;
						top: 50%;
						transform: translateY(-50%);
						font-family: $gotham-black;
						color: rgba($white, .2);
						font-size: rem(28px);
						padding: 0 1.5em;
					}
				}
			}
		}
		@include mq('md'){
			.block-title{
				text-align: center;
			}
			.view-beneficiaries{
				ul{
					overflow: initial;
					.views-row{
						.views-field-body{
							font-size: rem(56px);
							padding: 0 14% 0;
							p{
								font-size: rem(16px);
							}
						}
					}
				}
			}
		}
	}
	
	.characteristics-block{
		.characteristics-section{
			background: url('../images/bgs/characteristics-bg-mobile.jpg') no-repeat;
			background-size: cover;
			padding: 2.1em 1.4em 28em;
			font-size: rem(12px);
			font-family: $gotham-book;
			color: $white;
			h3{
				color: $white;
				font-family: $gotham-bold;
				font-size: rem(30px);
				text-transform: uppercase;
				margin: 0 0 1.4em;
			}
			div{
				padding-left: 7em;
				position: relative;
				margin-bottom: 1.4em;
				min-height: 100px;
				span{
					position: absolute;
					left: 0;
					font-size: rem(21px);
					width: 56px;
					height: 56px;
					border: 1px solid $white;
					border-radius: 50%;
					line-height: 2.6;
					text-align: center;
					&::before{
						content: '';
						position: absolute;
						height: 63px;
						width: 1px;
						background: $white;
						left: 50%;
						bottom: -63px;
						transform: translateX(-50%);
					}
				}
				&:last-of-type{
					span{
						&::before{
							display: none;
						}
					}
				}
			}
			@include mq('md'){
				font-size: rem(16px);
				padding: 4.2em 1.4em;
				background: url('../images/bgs/characteristics-bg.jpg') no-repeat;
				background-size: cover;
				h3{
					font-size: rem(42px);
					width: 560px;
					margin-left: 10%;
				}
				div{
					max-width: 530px;
					padding-left: 4.9em;
					margin-left: 10%;
					margin-bottom: 1em;
					min-height: 90px;
					span{
						&::before{
							height: 50px;
							bottom: -52px;
						}
					}
				}
			}
		}
		.beneficiaries-banners{
			.left{
				padding: 5rem 3rem;
				background: url('../images/bgs/beneficiaries-bg.jpg') no-repeat;
				background-size: cover;
				color: $white;
				font-size: rem(15px);
				span{
					font-family: $gotham-bold;
					font-size: rem(30px);
					display: block;
					margin: .2em 0;
				}
			}
			.right{
				padding: 4rem 3rem;
				background: url('../images/bgs/smoke-bg.png') no-repeat;
				background-size: cover;
				color: $white;
				font-size: rem(15px);
				span{
					font-family: $gotham-bold;
					font-size: rem(30px);
					display: block;
					margin: .1em 0;
					color: $golden;
				}
				br{
					display: none;
				}
			}
			@include mq('md'){
				display: flex;
				.left,
				.right{
					width: 50%;
				}
				.left{
					font-size: rem(21px);
					padding: 17rem 7rem 17rem 11%;
					span{
						font-size: rem(56px);
					}
				}
				.right{
					font-size: rem(16px);
					padding: 12rem 12% 12rem 7rem;
					span{
						font-size: rem(40px);
					}
				}
			}
		}
		.beneficiaries-zenzele{
			background: $white;
			padding: 1.4em;
			h3{
				color: $black;
				font-family: $gotham-black;
				font-size: rem(27px);
				margin-bottom: .7em;
			}
			p{
				color: $black;
				font-size: rem(15px);
			}
			@include mq('md'){
				padding: 3.5em;
				h3, p{
					max-width: 900px;
					margin: 0 auto .7em;
					font-size: rem(16px);
				}
				h3{
					font-size: rem(42px);
				}
			}
		}
	}
}