.sabc-sustainability {
  header {
    &.navbar.container {
      background-position: 70%;
      @include mq("md") {
        background-position: top;
      }
      .title-header {
        h1 {
          max-width: rem(970px);

          span {
            display: inline;
          }
        }
      }
    }
  }

  .sabc-slider-tabs {
    a.link-3 {
      background-color: $golden;
      color: $white;
    }
  }
  #block-system-main {
    padding-bottom: 0;
    p + .container {
      width: 100vw;
      height: 230px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 !important;
      padding: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    @include mq("md") {
      padding-bottom: 6rem;
      p + .container {
        width: 100%;
        height: 500px;
      }
    }
  }
  .sustainability_footer {
    background: url("../images/bgs/sust-footer-bg.jpg") no-repeat;
    background-size: cover;
    padding: 1.4em 1.7em 13em;
    background-position: 9% 50%;
    p {
      font-size: rem(15px);
      color: $white;
      text-align: center;
    }
    @include mq("md") {
      padding: 8em 1.7em 18em;
      p {
        font-size: rem(17px);
        max-width: 700px;
        margin: auto;
      }
    }
  }
}
