.sabc-contrib {
	.block-system {
		padding: 0 rem(20px) 0;

		@include mq('md') {
			padding: 0 rem(80px) rem(40px);
		}
	}

	.sabc-slider-tabs {
		a.link-4 {
			background-color: $golden;
			color: $white;
		}
	}

	.sabc-contribution-team {
		margin: 0 auto;
		max-width: rem(1150px);
		padding: 0 rem(20px) rem(40px);

		@include mq('md') {
			padding: 0 rem(80px) rem(60px);
		}

		.block-title {
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);

			@include mq('md') {
				font-size: rem(30px);
			}
		}

		.view-contributions {
			.views-row {
				@include mq('sm') {
					overflow: hidden;
				}

				.views-field-field-member-image {
					@include mq('sm') {
						float: left;
						margin-bottom: rem(40px);
						margin-right: rem(20px);
						width: calc(30% - 20px);
					}

					img {
						width: 100%;
					}
				}

				.views-field-title {
					@include mq('sm') {
						float: left;
						width: 70%;
					}

					span {
						display: block;
						font-family: $gotham-black;
						font-size: rem(18px);
						margin: rem(15px) 0 rem(20px);

						@include mq('sm') {
							margin: 0 0 rem(15px);
						}

						@include mq('md') {
							font-size: rem(20px);
						}
					}
				}

				.views-field-body {
					font-size: rem(14px);
					margin-bottom: rem(20px);

					@include mq('sm') {
						float: left;
						margin-bottom: rem(40px);
						width: 70%;
					}

					@include mq('md') {
						font-size: rem(16px);
					}
				}
			}
		}
	}
	.our_contribution{
		.left{
			padding: 4rem 3rem;
			background: url('../images/bgs/contribution-bg.jpg') no-repeat;
			background-size: cover;
			// background-color: gray;
			h1{
				color: $white;
				font-family: $gotham-bold;
				font-size: rem(49px);
				text-transform: uppercase;
				margin: 0;
			}
		}
		.right{
			padding: 3rem 2rem;
			background: $golden;
			font-family: $gotham-bold;
			color: $white;
			font-size: rem(21px);
			span{
				font-size: rem(35px);
			}
			p{
				font-family: $gotham-book;
				font-size: rem(15px);
				br{
					display: none;
				}
			}
		}
		&-text{
			background: rgba($light-gray, .3);
			padding: 3rem 2rem;
			font-size: rem(14px);
			text-align: center;
		}
		@include mq('md'){
			.two-columns{
				display: flex;
			}
			.left,
			.right{
				width: 50%;
				padding: 8rem 3rem;
			}
			.left{
				h1{
					font-size: rem(70px);
					width: 56%;
					margin: auto;
				}
			}
			.right{
				font-size: rem(28px);
				padding: 13rem 5rem 10rem;
				span{
					font-size: rem(49px);
					padding: .2em 0;
				}
				p{
					font-size: rem(16px);
					width: 70%;
					max-width: 414px;
				}
			}
			&-text{
				font-size: rem(16px);
				padding: 8rem 2rem;
				p{
					width: 750px;
					margin: auto;
				}
			}
		}
	}
	#block-views-contributors-block{
		h2{
			color: $golden;
			font-family: $gotham-bold;
			font-size: rem(22px);
			text-transform: uppercase;
			text-align: center;
			margin: 1.7em 0 1em;
		}
		.view-contributors{
			> .view-content{
				display: flex;
				overflow-x: scroll;
			}
			.views-row{
				position: relative;
				min-width: 260px;
				overflow: hidden;
				.views-field-field-member-image{
					height: 100%;
					> .field-content{
						height: 100%;
					}
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
						transition: transform .7s;
					}
				}
				.views-field-body{
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					color: $white;
					font-size: rem(14px);
					line-height: 1.3;
					padding: 2.1em;
					font-family: $gotham-book;
					background: $black;
					background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
					background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
				}
			}
		}
		@include mq('md'){
			h2{
				font-size: rem(35px);
				margin: 1.7em 0;
			}
			.view-contributors{
				> .view-content{
					overflow: initial;
				}
				.views-row{
					min-width: auto;
					&:hover{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	.sabc-contribution_footer{
		background: url('../images/bgs/contrib-footer-bg.jpg') no-repeat;
		background-size: cover;
		// background-color: gray;
		p{
			font-family: $gotham-bold;
			font-size: rem(21px);
			color: $white;
			text-align: center;
			padding: .7em 1.7em 4.2em;
			span{
				font-size: rem(42px);
			}
		}
		@include mq('md'){
			p{
				font-size: rem(28px);
				padding: 5.6em 1.7em;
				span{
					font-size: rem(56px);
				}
			}
		}
	}
}