.page-node-4241 {
    .sabc-slider-tabs {
        a.link-4 {
            color: $white !important;
            background-color: $golden;
        }
    }
    h4 {
        font-family: $gotham-medium;
        font-weight: 900;
    }
}