.form-smart-drinks {
  margin: rem(40px);
  @include mq (md) {
    max-width: rem(440px);
    margin: 0 0 0 8rem;
  }
  .block-title {
    color: $white;
    font-family: $gotham-black;
    font-size: rem(30px);
    margin: 0 0 rem(35px) 0;
  }
  #form-smart-drinks {
    label {
      display: none;
    }
    input, 
    select {
      background-color: transparent;
      border: rem(1px) solid $white;
      border-radius: rem(5px);
      color: $golden;
      margin: 0 0 rem(30px);
      padding: 0 rem(10px);
      font-family: $gotham-bold;
      font-size: rem(20px);
      height: rem(55px);
      width: 100%;
      &::placeholder {
        color: $golden;
        font-family: $gotham-bold;
        font-size: rem(20px);
      }  
    }
  }
  
  .btn-smart-drinks {
    color: $white;
    display: block;
    background-color: $golden;
    border: 0;
    border-radius: rem(10px);
    font-family: $gotham-bold;
    font-size: rem(13px);
    margin: auto;
    height: rem(64px);
    width: rem(230px);
    text-transform: uppercase;
  }
}