.custom-approved-images {
	.sabc-slider-tabs {
		a.link-1 {
			background-color: $golden;
			color: $white;
		}
	}

	.views-field-field-all-images {
		@include mq('sm') {
			img { 
				margin: rem(4px);
				max-width: calc(33% - 8px);
				width: calc(33% - 8px);
			}
		}
	}
}