.page-node-4251 {
    .sabc-slider-tabs {
        a.link-2 {
            background-color: $golden;
            color: $white;
        }
    }
    h4 {
        font-family: $gotham-medium;
        font-weight: 900;
    }
}