.sabc-comunitites,
.sabc-marketing,
.sabc-driving,
.sabc-retailing {
  .sabc-slider-tabs {
    margin: 2rem 0 2rem;
    .container-tab {
      padding: 0 3rem;
      .slick-list {
        margin: 0 rem(10px);
      }
      .slick-slide {
        max-height: rem(50px);
        @include mq("sm") {
          max-height: rem(60px);
        }
        a {
          font-size: 1.2rem;
          margin: 0.2rem;
        }
      }
      .slick-arrow {
        &.slick-prev {
          left: 7px;
        }
        &.slick-next {
          right: 7px;
        }
      }
    }
  }
  header.navbar {
    &::before {
      content: "";
      width: 102%;
      height: 100%;
      position: absolute;
      background: $black;
      opacity: 0.5;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      z-index: -1;
    }
    height: 36rem;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    @include mq("sm") {
      height: 70vh;
      min-height: 50rem;
    }
    z-index: 2;
    .title-header {
      padding: 1rem 0;
      @include mq("sm") {
        padding: 18rem 0 1rem 7rem;
      }
      h1 {
        max-width: 84rem;
        line-height: 0.88;
      }
      p {
        width: 70%;
        @media(max-width: 768px) {
          margin-top: 0.8rem;
        }
        @include mq("sm") {
          width: 37%;
        }
      }
    }
  }
  .block-system {
    @media(max-width: 768px) {
      padding: 0 2rem 1rem !important;
    }
    .field-name-body {
      h2 {
        margin-bottom: 1rem;
      }
      h3 {
        font-size: rem(16px);
        font-family: $gotham-medium;
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 1.6;
      }
      p {
        font-size: rem(15px);
        line-height: 1.5;
        margin-bottom: rem(10px);
      }
      @include mq("md") {
        h2 {
          font-size: rem(34px);
        }
        h3 {
          font-size: rem(23px);
        }
        p {
          font-size: rem(19px);
        }
      }
    }
  }
  section[id*="block-views-our-goals"] {
    .block-title {
      font-size: rem(18px);
    }
    .view-header {
      p {
        font-family: 'Gotham-Medium';
        font-size: 1.2rem;
      }
    }
    .view-content {
      .views-field-body {
        .field-content {
          @media(max-width: 991px) {
            font-size: 1.7rem;
            p {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    @include mq("md") {
      .block-title {
        margin: 0.5em 0;
        font-size: rem(34px);
      }
      .view-header {
        max-width: 1060px;
        width: 100%;
        p {
          font-size: rem(14px);
          line-height: 1;
          font-family: $gotham-book;
          @include mq("md") {
            font-size: rem(19px);
          }
        }
      }
    }
  }
}

.view-display-id-block_responsible_communities {
  .view-content {
    width: 100%;
    margin: auto;
    padding: 0 0 1.6rem 0;
    @media (min-width: 992px) {
      width: 70%;
      padding: 0 0 6rem 0;
    }
    .views-row {
      padding: 0 rem(20px);
      .media-youtube-video {
        text-align: center;
        iframe {
          width: 100%;
          height: 21rem;
          @media (min-width: 992px) {
            min-height: rem(350px);
            height: 60vh;
          }
        }
      }
    }
  }
}

.view-display-id-block_responsible_driving {
  .sabc--caption {
    &-video {
      background: #f3f3f3;
      padding: 2rem;
      margin-top: -6px;
      width: 100%;
      max-width: 30rem;
      @media (min-width: 556px) {
        max-width: 40rem;
      }
      @include mq("sm") {
        min-height: 13rem;
      }
      @include mq("md") {
        max-width: 100%;
      }
      .sabc--caption {
        &-title {
          margin: 0;
          font-family: $gotham-black;
          font-size: rem(22px);
          text-transform: uppercase;
        }
        &-description {
          word-break: break-word;
          font-size: rem(14px);
        }
      }
    }
  }
}

.sabc-marketing {
  .block-system {
    @include mq(md) {
      padding: 0px 8rem 0rem;
    }
  }
}

.view-display-id-block_responsible_marketing,
.view-display-id-block_responsible_driving {
  .view-content {
    width: 100vw;
    margin: auto;
    @include mq("md") {
      width: 99rem;
    }
    .slick-list {
      @media (max-width: 992px) {
        padding-left: 1.5rem;
      }
    }
    .slick {
      &-arrow {
        display: none;
      }
      &-prev,
      &-next {
        top: 40%;
      }
      &-next {
        transform: translateY(0);
        right: rem(20px);
        @include mq(md) {
          right: rem(-50px);
        }
      }
      &-prev {
        left: rem(20px);
        transform: rotate(180deg);
        z-index: 1;
        @include mq(md) {
          left: rem(-50px);
        }
      }
    }
  }
  .slick-track {
    display: flex;
    justify-content: center;
    .views-row {
      padding: 0.5rem;
      margin: 0.5rem;
      iframe {
        width: 100%;
        height: rem(210px);
        min-width: rem(280px);
        @media (min-width: 556px) {
          height: rem(250px);
          min-width: rem(400px);
        }
      }
    }
  }
  .text-center {
    .pagination {
      margin: rem(10px) 0 3rem 0;
      li {
        margin: 0 rem(5px);
        &.next, &.prev {
          a {
            border: none;
          }
        }
      }
    }
  }
}

.view-display-id-block_news_harm_reduction {
  .view-content {
    .slick {
      &-next {
        right: rem(20px);
        @include mq(md) {
          right: rem(-20px);
        }
      }
      &-prev {
        left: rem(20px);
        @include mq(md) {
          left: rem(-20px);
        }
      }
    }
  }
}
.view-display-id-block_responsible_marketing {
  .view-header {
    display: none;
    width: 115rem;
    margin: 0 auto rem(40px);
    padding: 0 rem(80px) 0;
    @include mq(md) {
      display: block;
    }
    h2 {
      font-family: $gotham-black;
      color: $black;
      font-size: rem(34px);
    }
  }
}
