
	.sabc-home-news {
		background-color: $black;
		padding: rem(40px) 0;

		@include mq('md') {
			padding: rem(50px) 0;
		}

		.block-title {
			color: $white;
			font-family: $gotham-black;
			font-size: rem(25px);
			margin: 0 0 rem(30px);
			padding: 0 rem(20px);

			@include mq('md') {
				font-size: rem(42px);
				margin: 0 auto rem(40px);
				max-width: rem(1480px);
			}
		}

		.view-news {
			@include mq('md') {
				margin: 0 auto;
				max-width: rem(1480px);
			}

			.view-content {
				display: flex;
				overflow: auto;
				padding-left: rem(20px);

				@include mq('md') {
					padding: 0 rem(20px);
				}

				.views-row {
					background-color: $darker-gray;
					border-radius: rem(10px);
					max-width: 100%;
					min-width: rem(200px);
					padding: rem(10px);
					position: relative;
					width: 100%;
					border: 1px solid $darker-gray;
					&:hover{
						border-color: $golden;
					}

					@include mq('md') {
						// min-width: auto;
						padding: rem(20px);
						// width: 33.333%;
					}

					.views-field-title {
						margin-bottom: rem(5px);
						width: 80%;

						@include mq('md') {
							width: 90%;
						}

						a {
							color: $golden;
							display: block;
							font-family: $gotham-black;
							font-size: rem(15px);
							line-height: 1.1;
							text-transform: uppercase;

							@include mq('md') {
								font-size: rem(18px);
								margin-bottom: rem(15px);
							}
						}
					}

					.views-field-body {
						color: $white;
						font-size: rem(13px);
						line-height: 1.1;
						margin-bottom: rem(20px);
						width: 90%;

						@include mq('md') {
							font-size: rem(16px);
						}
					}

					.views-field-field-news-date {
						color: $white;
						display: inline-block;
						font-size: rem(10px);

						@include mq('md') {
							font-size: rem(12px);
						}
					}

					.views-field-view-node {
						float: right;
						height: rem(15px);
						position: relative;
						top: rem(4px);

						span {
							display: block;
						}

						a {
							background-image: url("../images/misc/arrow-golden-short-right.png");
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							color: $golden;
							display: block;
							height: rem(15px);
							text-indent: rem(-9999px);
							width: rem(30px);
						}
					}

					& + .views-row {
						margin-left: rem(15px);

						@include mq('md') {
							margin-left: rem(25px);
						}
					}
				}
			}
		}
	}