.front {
	.block-system {
		padding: 0 rem(20px) 0;
	}

	.sabc-minibanners-home {
		background-color: $black;
		position: relative;
		z-index: 2;
		
		.view-mini-banners{
			padding-left: 1em;
			.slick-list{
				padding: 0 10% 0 0;
			}
			.slick-track{
				display: flex;
			}
			@include mq('md'){
				padding-left: 0;
				.slick-list{
					padding: 0 20% 0 0;
				}
				// .slick-track{
				// 	width: 100% !important;
				// }
			}
		}

		@include mq('md') {
			// background: linear-gradient(0deg, rgba($black,1) 42%, rgba($black,0) 50%);
			// margin-top: rem(-10px);
		}

		.view-content {
			// display: flex;
			// margin-top: rem(-90px);
			// overflow: auto;
			padding-bottom: rem(30px);

			@include mq('md') {
				margin-top: rem(-50px);
				padding: 0 3.5% rem(4.2px);
				// justify-content: space-around;
				// margin: 0 auto;
				// max-width: rem(1600px);
			}

			.views-row {
				// min-width: rem(170px);
				// padding: rem(10px) rem(20px);
				// position: relative;
				outline: none;
				opacity: .4;
				padding: 0 1em;
				position: relative;
				&:first-of-type{
					padding-left: 0;
				}
				&:after {
					background-image: url("../images/misc/separator-golden.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					content: '';
					height: 90%;
					right: 2%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 1px;
				}
				&.slick-current{
					opacity: 1;
				}

				.views-field-name {
					margin-bottom: rem(10px);

					a {
						font-family: $gotham-black;
						font-size: rem(11px);
						color: $golden;
						text-transform: uppercase;
						outline: none;
						text-decoration: none;

						@include mq('md') {
							font-size: rem(14px);
						}
					}
				}

				.views-field-description {
					cursor: pointer;
					p {
						color: $white;
						font-size: rem(13px);
						line-height: 1.1;

						@include mq('md') {
							font-size: rem(14px);
						}

						a {
							background-image: url("../images/misc/arrow-golden-right.png");
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							display: inline-block;
							height: rem(15px);
							margin-top: rem(25px);
							text-indent: rem(-9999px);
							width: rem(45px);
							outline: none;
						}
					}
				}

				& + .views-row {
					// padding: rem(10px) rem(20px) rem(10px) rem(10px);
					outline: none;

					// &:after {
					// 	background-image: url("../images/misc/separator-golden.png");
					// 	background-position: center;
					// 	background-repeat: no-repeat;
					// 	background-size: contain;
					// 	content: '';
					// 	height: 90%;
					// 	left: 0;
					// 	position: absolute;
					// 	top: 50%;
					// 	transform: translateY(-50%);
					// 	width: 1px;
					// }
				}
			}
		}
	}
}