.front {
    .sabc-home-banner {
        display: none;
        background-image: url("../images/bgs/bg-better-world.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: rem(30px) rem(20px) rem(70px);
        @include mq('md') {
            padding: rem(60px) rem(80px) rem(70px);
        }
        h2 {
            color: $golden;
            display: block;
            font-family: $gotham-black;
            font-size: rem(60px);
            margin: 0 0 rem(55px);
            position: relative;
            text-transform: uppercase;
            @include mq('md') {
                font-size: rem(120px);
                margin: 0 auto;
                max-width: rem(1000px);
            }
            span {
                bottom: rem(-48px);
                color: $white;
                font-family: $nexa-rust;
                font-size: rem(67px);
                position: absolute;
                left: rem(45px);
                text-transform: none;
                @include mq('md') {
                    bottom: rem(-55px);
                    font-size: rem(120px);
                    left: rem(400px);
                }
            }
        }
        p {
            color: $white;
            font-size: rem(13px);
            line-height: 1.1;
            max-width: rem(400px);
            padding-left: rem(5px);
            width: 88%;
            @include mq('md') {
                font-size: rem(16px);
                margin: rem(25px) auto 0;
                max-width: rem(1480px);
                padding-right: calc(-420px + 100%);
                width: auto;
            }
            @include mq('min-width: 1160px') {
                left: calc(50% - 495px);
                margin: rem(25px) 0 0;
                padding-right: 0;
                position: relative;
                width: rem(400px);
            }
            a {
                background-image: url("../images/misc/arrow-golden-right.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                height: rem(15px);
                margin-top: rem(30px);
                text-indent: rem(-9999px);
                width: rem(45px);
            }
        }
    }
    header.navbar {
        position: absolute;
    }
    #block-views-banners-home-block {
        .shad {
            text-shadow: 0.5px 0.5px #000;
        }
        .block-title {
            display: none;
        }
        .views-field-body {
            // position: absolute;
            @include center('vertical');
            top: 77%;
            z-index: 1;
            @include mq('md') {
                top: 56%;
                margin-left: 7%;
            }
            p {
                font-family: $gotham-black;
                font-size: rem(30px);
                margin: 0;
                color: $white;
                line-height: 1.1;
                padding: 0 .5em;
                br {
                    display: none;
                }
                @include mq('md') {
                    font-size: rem(60px);
                    max-width: rem(980px);
                }
                span {
                    color: $golden;
                    // display: block;
                    @include mq('md') {
                        display: block;
                    }
                }
            }
        }
        .views-field-field-background {
            height: 67vh;
            position: relative;
            @include mq('md') {
                height: 84vh;
            }
            &::before {
                content: '';
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 34%;
                background: $black;
                background: -moz-linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
                background: -webkit-linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
                z-index: 1;
            }
            .field-content {
                height: 100%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                // @include mq('md'){
                // 	height: auto;
                // }
            }
        }
    }
}