.front {
	.sabc-home-videos {
		background-color: $black;
		padding: rem(50px) rem(20px) rem(20px);

		@include mq("md") {
			padding: rem(80px) rem(20px) rem(80px);
		}

		h2 {
			display: none;
		}

		.view-slider-video {
			margin: 0 auto;

			@include mq("md") {
				max-width: rem(1100px);
				width: 80%;
			}

			.slider-component {
				list-style: none;
				margin: 0;
				padding: 0;
				position: relative;

				.slick-arrow {
					background-image: url("../images/misc/arrow-golden-short-right.png");
					background-position: right center;
					background-repeat: no-repeat;
					background-size: contain;
					bottom: rem(-2px);
					height: rem(20px);
					position: absolute;
					padding-left: 50%;
					top: auto;
					width: rem(25px);
					z-index: 1;

					&.slick-next {
						right: rem(0px);
						// padding-right: 30%;

						@include mq("md") {
							right: 17%;
						}
					}

					&.slick-prev {
						left: rem(0px);
						transform: translateY(-50%) rotate(-180deg);
						// padding-left: 40%;

						@include mq("md") {
							left: 17%;
						}
					}
				}

				.slick-slide {
					padding-bottom: rem(60px);
					position: relative;

					@include mq("md") {
						padding-bottom: rem(50px);
					}

					.views-field-title {
						bottom: 0;
						left: 50%;
						position: absolute;
						transform: translateX(-50%);
						width: 73%;

						@include mq("md") {
							width: 45%;
						}

						.field-content {
							display: none;
							width: 100%;

							p {
								color: $white;
								margin: 0;
								&:last-child {
									margin-left: auto;
								}
							}
						}

						a {
							color: $golden;
							font-family: $gotham-bold;
							font-size: rem(10px);

							@include mq("xs") {
								font-size: rem(12px);
							}

							@include mq("md") {
								font-size: rem(14px);
							}
						}
					}

					.titles {
						display: flex;
						justify-content: space-between;
						position: relative;
						top: rem(-10px);

						@include mq("md") {
							top: rem(-8px);
						}

						p {
							color: $white;
							font-size: rem(12px);
							margin: 0;
							padding-right: rem(5px);

							@include mq("md") {
								font-size: rem(14px);
							}

							&:last-child {
								padding-left: rem(5px);
								text-align: right;
								color: $golden;
							}
						}
					}
				}
			}
		}

		.media-youtube-video {
			display: block;
			overflow: hidden;
			padding: 0;
			position: relative;
			width: 100%;

			&:before {
				content: "";
				display: block;
				padding-top: 56.25%;
			}

			iframe {
				border: 0;
				bottom: 0;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
}
