#block-views-news-block-news-harm-reduction {
  display: none !important;
  @include mq("md") {
    display: block !important;
  }
}
.view-display-id-block_news_harm_reduction_mobile {
  @include mq("md") {
    display: none;
  }
}
#block-views-news-block-news-harm-reduction,
.harm-reduction--news-slider {
  background-color: $white;
  h2 {
    color: $black;
    font-size: 2rem;
    padding: 0 1rem;
    @include mq("md") {
      padding: 0 rem(40px);
    }
  }
  .view-news {
    .view-content {
      .views-row {
        margin-bottom: rem(10px);
        padding: rem(23px) !important;
        @include mq("md") {
          padding: rem(15px) !important;
        }
        .views-field-field-subtitle {
          .field-content {
            color: $black;
            font-size: rem(12px);
            @include mq("sm") {
              font-size: rem(15px);
            }
          }
        }
        .views-field-body {
          color: $black;
        }
        .views-field-field-news-date {
          color: $black;
        }
        .views-field-view-node {
          span {
            overflow: hidden;
            a {
              background-position: top 4px right 0px;
              background-repeat: no-repeat;
              background-size: 1.8rem;
              color: $black;
              display: block;
              height: 3rem;
              width: 70px;
              transform: translate(-45px, -3px);
              text-indent: unset;
              text-decoration: none;
              @include mq("sm") {
                background-size: 2.5rem;
              }
              &:hover {
                transform: translate(0, -3px);
              }
            }
          }
        }
        .views-field-field-imagen {
          img {
            margin: auto;
          }
        }
      }
    }
  }
}
