.smart-drink-titles-slick {
    display: block;
    padding: 0 0 4rem;
    .view-content {
      @include mq (md) {
        display: block;
        margin: auto;
        max-width: 50%;
      }
      .views-row {
        display: block;
        text-align: center;
        padding: 0 1rem;
        .views-field {
          &-title {
            .item-title-smart-slide {
              color: $dark-gray;
              font-family: $gotham-bold;
              cursor: pointer;
              &.activebrand {
                color: $white;
              }
              .imgbrandsslider {
                display: flex;
                justify-content: center;
                @include mq (md) {
                  display: none;
                }
              }
              .item-title-brand {
                display: none;
                @include mq (md) {
                  display: block;
                }
              }
            }
          }
        }
      }
      .slick {
        &-arrow {
          background-image: url('../images/misc/arrow-golden-circle-right.png');
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          color: $golden;
          display: block;
          height: rem(40px);
          text-indent: -999.9rem;
          width: rem(40px);
          @include mq (md) {
            background-image: url('../images/misc/arrow-golden-short-right.png');
            height: rem(15px);
            width: rem(30px);
          }
        }
        &-prev,
        &-next {
          top: 40%;
        }
        &-next  {
          transform: translateY(0);
          right: rem(20px);
          @include mq (md) {
            right: rem(-50px);
          }
        }
        &-prev {
          left: rem(20px);
          transform: rotate(180deg);
          z-index: 1;
          @include mq (md) {
            left: rem(-50px);  
          }
        } 
      }
    }
  }