.smart-drink-calc-title {
  display: block;
  margin: auto;
  padding: rem(40px);
  @include mq (md) {
    max-width: 88rem;
    padding: rem(40px) 0;
  }
  &__title {
    color: $white;
    font-family: $gotham-black;
    font-size: rem(25px);
    @include mq (md) {
      font-size: rem(42px);
    }
  }
  &__subtitle {
    color: $golden;
    font-family: $gotham-medium;
    font-size: rem(15px); 
    margin-bottom: rem(20px);
    @include mq (md) {
      font-size: rem(30px);   
    }
  }
  &__description {
    color: $white;
    font-family: $gotham-book;
    font-size: rem(15px);  
    @include mq (md) {
      font-size: rem(16px);   
    }
  }
}
