.sabc-smart-news,
#block-views-news-block-news-harm-reduction,
.harm-reduction--news-slider {
  padding: rem(30px) 0;
  @include mq("md") {
    padding: rem(60px) 0 rem(30px);
  }
  h2,
  .block-title {
    font-family: $gotham-black;
    font-size: rem(18px);
    margin: 0 0 rem(10px);
    padding: 0 rem(20px);
    @include mq("md") {
      font-size: rem(30px);
      max-width: 80%;
      margin: 0 auto 2rem;
      padding: 0 rem(40px);
    }
  }
  .view-news {
    @include mq("md") {
      margin: 0 auto;
    }
    .view-content {
      width: 100%;
      @include mq("md") {
        padding: 0 rem(20px);
        max-width: 80%;
        margin: auto;
      }
      .views-row {
        border-radius: rem(10px);
        padding: rem(10px);
        position: relative;
        width: 100%;
        @include mq("md") {
          width: 33%;
        }
        &:hover {
          border-color: $golden;
        }
        @include mq("md") {
          padding: rem(20px);
        }

        .views-field-field-imagen {
          img {
            height: 16rem;
            object-fit: cover;
            border-radius: rem(15px);
          }
        }

        .views-field-title {
          margin-bottom: rem(5px);
          width: 80%;

          @include mq("md") {
            width: 100%;
          }
          a {
            color: $golden;
            display: block;
            font-family: $gotham-black;
            font-size: rem(15px);
            line-height: 1.1;
            text-transform: uppercase;
            margin: rem(20px) 0 rem(10px);

            @include mq("md") {
              font-size: rem(17px);
            }
          }
        }
        .views-field-body {
          font-size: rem(13px);
          line-height: 1.1;
          margin-bottom: rem(20px);
          width: 90%;

          @include mq("md") {
            font-size: rem(16px);
          }
        }
        .views-field-field-news-date {
          display: inline-block;
          font-size: rem(10px);
          @include mq("md") {
            font-size: rem(12px);
          }
        }
        .views-field-view-node {
          float: left;
          height: rem(15px);
          position: relative;
          top: rem(15px);

          span {
            display: block;
          }

          a {
            background-image: url("../images/misc/arrow-golden-short-right.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            color: $golden;
            display: block;
            height: rem(15px);
            text-indent: rem(-9999px);
            width: rem(30px);
          }
        }
      }
      .slick {
        &-arrow {
          background-image: url("../images/misc/arrow-golden-circle-right.png");
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          color: $golden;
          display: block;
          height: rem(40px);
          text-indent: -999.9rem;
          width: rem(40px);
        }
        &-prev,
        &-next {
          top: 40%;
        }
        &-next {
          transform: translateY(0);
          right: rem(20px);
          @include mq(md) {
            right: rem(-20px);
          }
        }
        &-prev {
          left: rem(20px);
          transform: rotate(180deg);
          z-index: 1;
          @include mq(md) {
            left: rem(-20px);
          }
        }
      }
    }
  }
  &-desktop {
    display: none;
    @include mq(md) {
      display: block;
    }
  }
  &-mobile {
    @include mq(md) {
      display: none;
    }
    .view-news {
      .view-content {
        .views-row {
          padding: 2rem 2rem 4rem;
        }
      }
    }
    .pager {
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      &-current {
        color: $white;
        background-color: $golden;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: rem(80px);
        height: rem(80px);
        border-radius: rem(100px);
        margin: 0 1rem;
      }
      &-previous,
      &-next {
        a {
          background-color: transparent;
          background-image: url("../images/icons/arrow-gold.svg");
          background-repeat: no-repeat;
          background-size: auto;
          border: 0;
          border-radius: 0;
          height: rem(50px);
          width: rem(50px);
          &:hover {
            background-color: transparent;
          }
        }
      }
      &-previous {
        a {
          transform: scaleX(-1);
        }
      }
    }
  }
}
.sabc-smart-news {
  background-color: $black;
  .block-title {
    color: $white;
  }
  .view-news {
    .view-content {
      .views-row {
        .views-field-field-subtitle {
          .field-content {
            color: $white;
          }
        }
        .views-field-body {
          color: $white;
        }
        .views-field-field-news-date {
          color: $white;
        }
      }
    }
  }
}
