.sabc-ourvision {
	.block-system {
		padding: 0 rem(20px) 0;

		@include mq('md') {
			padding: 0 rem(80px) rem(50px);
		}
	}

	.sabc-slider-tabs {
		a.link-2 {
			background-color: $golden;
			color: $white;
		}
	}

	.sabc-vision-principles {
		background-image: url("../images/bgs/bg-principles.jpg");
		background-position: center;
		background-repeat: repeat-y;
		background-size: 250%;
		padding: rem(10px) rem(20px) rem(40px);

		@include mq('md') {
			background-repeat: no-repeat;
			background-size: cover;
			padding: rem(50px) rem(60px) rem(60px);
		}

		.block-title {
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);
			text-align: center;

			@include mq('md') {
				font-size: rem(35px);
				margin-bottom: rem(35px);
			}
		}

		.view-our-principles {
			margin: 0 auto;
			max-width: rem(1100px);

			.view-content {
				background-image: url("../images/bgs/bg-caps.png");
				background-position: bottom center;
				background-repeat: no-repeat;
				background-size: 100%;
				padding-bottom: 40%;

				@include mq('xs') {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}

				@include mq('sm') {
					background-size: 700px;
					padding-bottom: rem(250px);
				}

				@include mq('md') {
					background-position: 100% 95%;
					background-size: 50%;
					justify-content: flex-start;
					padding-bottom: 0;
				}

				.views-row {
					margin-bottom: rem(25px);
					width: 100%;

					@include mq('xs') {
						width: 45%
					}

					@include mq('md') {
						padding: 2%;
						width: 33.333%;
					}

					@include mq('lg') {
						width: 25%;
					}

					.views-field-description {
						.title {
							color: $golden;
							font-family: $gotham-black;
							font-size: rem(38px);
							margin-bottom: rem(4px);
							padding-bottom: rem(4px);
							position: relative;
							vertical-align: middle;

							@include mq('sm') {
								font-size: rem(45px);
							}

							span {
								font-family: $nexa-rust;
								vertical-align: bottom;

								@include mq('md') {
									font-size: rem(42px);
								}
							}

							&:after {
								background-image: url("../images/misc/separator-golden-horizontal.png");
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								bottom: 0;
								content: '';
								display: block;
								height: rem(2px);
								left: 0;
								position: absolute;
								width: rem(160px);

								@include mq('md') {
									width: rem(260px);
								}
							}
						}

						.description {
							p {
								color: $golden;
								font-size: rem(14px);

								@include mq('md') {
									font-size: rem(15px);
									width: 90%;
								}

								strong {
									color: $white;
									font-family: $gotham-bold;
								}
							}
						}
					}
				}
			}
		}
	}
}