.node-type-article,
.node-type-news {
    background-color: $black;
    .main-container {
        .row {
            >section {
                .page-header {
                    border: none;
                    color: $white;
                    display: block;
                    font-family: $gotham-black;
                    font-size: rem(25px);
                    margin-bottom: rem(70px);
                    padding: 0 rem(20px);
                    text-transform: uppercase;
                    @include mq('md') {
                        font-size: rem(45px);
                        margin: 0 auto rem(150px);
                        max-width: rem(1558px);
                        padding: 0 rem(20px) 0 rem(80px);
                    }
                }
                .jumbotron {
                    background-color: $black;
                    border-radius: 0;
                    padding: rem(10px) rem(20px);
                    margin-bottom: rem(20px);
                    @include mq('md') {
                        margin: 0 auto rem(20px);
                        max-width: rem(1558px);
                        padding: rem(10px) rem(80px);
                    }
                    p>a {
                        background-image: url("../images/misc/arrow-golden-short-right.png");
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        color: $golden;
                        display: block;
                        height: 1.5rem;
                        transform: rotate(180deg);
                        text-indent: -999.9rem;
                        width: 3rem;
                        overflow:hidden;
                    }
                }
                .region-content {
                    background-color: $white;
                    .block-system {
                        margin: 0 auto;
                        max-width: rem(1560px);
                        padding: rem(0px) rem(20px) 0;
                        @include mq('md') {
                            padding: rem(0px) rem(80px) 0;
                        }
                        article {
                            margin-top: rem(-50px);
                            @include mq('md') {
                                margin-top: rem(-90px);
                            }
                            .field-name-field-news-image {
                                img {
                                    width: 100%;
                                }
                            }
                            .field-name-field-news-date {
                                color: $golden;
                                font-family: $gotham-book;
                                font-size: rem(16px);
                                margin: rem(30px) 0;
                                @include mq('md') {
                                    margin: rem(20px) auto rem(40px);
                                    width: 85%;
                                }
                            }
                            .field-name-body {
                                font-size: rem(14px);
                                margin-bottom: rem(30px);
                                @include mq('md') {
                                    font-size: rem(16px);
                                    margin: rem(20px) auto rem(30px);
                                    width: 85%;
                                }
                                p {
                                    img {
                                        display: block;
                                        margin: rem(30px) auto rem(10px);
                                        width: 80%;
                                    }
                                }
                            }
                            footer {
                                margin: rem(30px) 0;
                                @include mq('md') {
                                    margin: rem(30px) auto;
                                    width: 85%;
                                }
                            }
                        }
                    }
                    .block-widgets {
                        margin-bottom: rem(50px);
                        padding: 0 rem(20px);
                        @include mq('md') {
                            margin: 0 auto rem(50px);
                            max-width: rem(1325px);
                            position: relative;
                            padding: 0 rem(65px);
                            width: 85%;
                        }
                        .widgets {
                            display: flex;
                            flex-wrap: wrap;
                            a {
                                display: block;
                                height: rem(43px);
                                text-indent: rem(-9999px);
                                width: rem(200px);
                                img {
                                    display: none;
                                }
                            }
                            .widgets {
                                background-position: top left;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: rem(42px);
                                margin-bottom: 8px;
                                margin-right: rem(5px);
                                width: rem(200px);
                                @include mq('md') {
                                    height: rem(37px);
                                    width: rem(170px);
                                }
                                @include mq('lg') {
                                    height: rem(42px);
                                    width: rem(200px);
                                }
                            }
                            #widgets-element-socialmedia_socialmedia-twitter-share-button {
                                background-image: url("../images/icons/icon-share-twitter.png");
                            }
                            #widgets-element-socialmedia_socialmedia-facebook-share-button {
                                background-image: url("../images/icons/icon-share-facebook.png");
                            }
                            #widgets-element-socialmedia_socialmedia-linkedin-share-button {
                                background-image: url("../images/icons/icon-share-linkedin.png");
                            }
                            #widgets-element-widgets_custom-markup {
                                background-image: url("../images/icons/icon-share-email.png");
                            }
                        }
                    }
                    .block-views {
                        margin: 0 auto;
                        max-width: rem(1560px);
                        padding: rem(0px) rem(20px) rem(40px);
                        @include mq('md') {
                            padding: rem(0px) rem(80px) rem(80px);
                        }
                        .block-title {
                            font-family: $gotham-bold;
                            font-size: rem(22px);
                            margin: 0 0 rem(30px);
                            text-transform: uppercase;
                            @include mq('md') {
                                font-size: rem(30px);
                            }
                        }
                        .view-related-articles {
                            .view-content {
                                margin: 0;
                                max-width: none;
                                width: 100%;
                                tr {
                                    display: flex;
                                    flex-direction: column;
                                    @include mq('md') {
                                        flex-direction: row;
                                        justify-content: space-between;
                                    }
                                    td {
                                        @include mq('md') {
                                            flex-direction: row;
                                            width: 31%;
                                        }
                                        .views-field-field-news-image {
                                            // img {
                                            // 	border-radius: rem(12px);
                                            // 	margin-bottom: rem(10px);
                                            // 	width: 100%;
                                            // }
                                            .field-content {
                                                border-radius: 10px;
                                                overflow: hidden;
                                                @include mq('md') {
                                                    height: rem(190px);
                                                    position: relative;
                                                    width: 100%;
                                                }
                                                img {
                                                    width: 100%;
                                                    @include mq('md') {
                                                        left: 50%;
                                                        max-width: 140%;
                                                        position: absolute;
                                                        top: 50%;
                                                        transform: translate(-50%, -50%);
                                                        width: 140%;
                                                    }
                                                }
                                            }
                                        }
                                        .views-field-title {
                                            margin: rem(20px) 0;
                                            a {
                                                color: $golden;
                                                font-family: $gotham-black;
                                                font-size: rem(20px);
                                                line-height: 1;
                                                text-transform: uppercase;
                                            }
                                        }
                                        .views-field-body {
                                            font-size: rem(14px);
                                            margin-bottom: rem(20px);
                                            @include mq('md') {
                                                font-size: rem(16px);
                                            }
                                        }
                                        .views-field-view-node {
                                            margin-top: rem(10px);
                                            margin-bottom: rem(10px);
                                            a {
                                                background-image: url("../images/misc/arrow-golden-short-right.png");
                                                background-position: 50%;
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                color: $golden;
                                                display: block;
                                                height: 1.5rem;
                                                text-indent: -999.9rem;
                                                width: 3rem;
                                            }
                                        }
                                        &+td {
                                            margin-top: rem(30px);
                                            @include mq('md') {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.node-type-news {
    header {
        &.navbar {
            &.container {
                .title-header {
                    display: none;
                }
            }
        }
    }
    .view-related-articles {
        img {
            border-radius: rem(15px);
        }
        .pager {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            @include mq (md) {
                display: none;
            }
            &-current {
              color: $white;
              background-color: $golden;
              display: flex;
              align-content: center;
              align-items: center;
              justify-content: center;
              width: rem(80px);
              height: rem(80px);
              border-radius: rem(100px);
              margin: 0 1rem;
            }
            &-previous, 
            &-next {
              a {
                background-color: transparent;
                background-image: url('../images/icons/arrow-gold.svg');
                background-repeat: no-repeat;
                background-size: auto;
                border: 0;
                border-radius: 0;
                height: rem(50px);
                width: rem(50px);
                &:hover {
                  background-color: transparent;
                }
              }
            }
            &-previous {
              a {
                // transform: rotate(180deg);
                transform: scaleX(-1);
              }
            }
          }
    }
    .field {
        &-name-field-background {
            img {
                margin: auto;
            }
        }
    }
}

#node-191, .page-node-186{
    .field-type-text-with-summary{
        .field-items{
            .field-item{
                div{
                    margin-bottom: 35px;
                    display: block;
                    figure, span{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    figure{
                        margin-right: 20px;
                        width: 64px;
                        height: 64px;
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    span{
                        width: calc(100% - 90px);
                        margin: 0;
                        strong{
                            font-family: 'Gotham-Black';
                            font-size: 16px;
                            display: block;
                            margin-bottom: 0;
                        }

                    }
                }
            }
        }
    }
}

.page-node-186{
    .field-type-text-with-summary{
        .field-items{
            .field-item{
                div{
                    figure{
                        margin-right: 20px;
                        height: 64px;
                        img{
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    span{
                        width: calc(100% - 90px);
                        margin: 0;
                        color: white;
                    }
                }
            }
        }
    }
}

.page-node-4391{
    .tables{
        display: block;
        .tableR{
            display: block;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #101010;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            @media(max-width: 640px){
                flex-direction: column;
            }
            .image{
                width:  350px;
                border-radius: 1.5rem;
                margin-right: 30px;
                @media(max-width: 640px){
                    width:  100%;
                    margin: 0 0 15px;
                }
            }
            .info{
                width: calc(100% - 380px);
                @media(max-width: 640px){
                    width: 100%;
                }
                h2, p{
                    display: block;
                    width: 100%;
                    margin: 0 auto 25px;
                }
                h2{
                    font-family: 'Gotham-Black';
                    color: #101010;
                    font-size: 2.5rem;
                }
                p{
                    &.golden{
                        color: #baa769;
                        font-family: 'Gotham-Medium';
                        font-size: 2rem;
                    }
                }

            }
        }
    }
}