.contact {
	header.navbar.container .title-header h1 {
		@include mq('md') {
			max-width: rem(650px);
		}
	}

	.block-system {
		display: none;
	}

	.region-content {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: rem(1160px);

		@include mq('md') {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.sabc-slider-tabs {
			order: 0;
			width: 100%;

			.link-1 {
				background-color: $golden;
				color: $white;
			}
		}

		.sabc-contact-description {
			color: $black;
			order: 2;
			padding:  0 rem(20px) rem(100px);

			@include mq('md') {
				order: 1;
				padding:  rem(50px) 0 rem(100px) rem(80px);
				width: 40%;
			}

			p {
				margin-bottom: rem(15px);

				a {
					color: $black;
				}

				br {
					display: none;
				}

				span {
					display: block;
					font-family: $gotham-bold;
					font-size: rem(18px);
				}
			}
		}

		.sabc-contact-form {
			order: 1;
			padding:  rem(30px) rem(20px) rem(50px);

			@include mq('md') {
				order: 2;
				padding:  rem(30px) rem(80px) rem(70px) 0;
				width: 60%;
			}

			@include placeholder {
				color: $black;
			}

			form {
				> div {
					@include mq('md') {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
					}

					.webform-component--type-of-inquiry,
					.webform-component--sponsorchip,
					.webform-component--message,
					.form-actions {
						@include mq('md') {
							width: 100%;
						}
					}

					.webform-component--first-name,
					.webform-component--email,
					.webform-component--surname,
					.webform-component--contact-number {
						margin-bottom: rem(15px);
						width: 100%;

						@include mq('md') {
							width: calc(50% - 5px);
						}
					}
				}
			}

			input {
				border-radius: rem(6px);
				border: rem(1px) solid $gray;
				box-shadow: none;
				color: $black;
				height: auto;
				padding: rem(12px);

				@include mq('md') {
					font-size: rem(16px);
				}
			}

			textarea {
				border-radius: rem(6px);
				border: rem(1px) solid $gray;
				color: $black;
				height: rem(240px);
				padding: rem(12px);
				resize: none;

				@include mq('md') {
					font-size: rem(16px);
				}
			}

			p {
				font-size: rem(14px);
				text-align: center;

				@include mq('md') {
					font-size: rem(16px);
					margin: rem(15px) 0 rem(10px);
					text-align: left;
				}

				a {
					color: $golden;
					font-family: $gotham-bold;
				}
			}

			.grippie {
				display: none;
			}

			.form-actions {
				text-align: right;

				.btn {
					background-color: $golden;
					border-radius: rem(6px);
					border: none;
					display: inline-block;
					font-size: rem(16px);
					margin-top: rem(20px);
					padding: rem(15px) rem(50px);
				}
			}
		}
	}
}

form{
	&#webform-client-form-16{
		.form-item.webform-component-select{
			display: block;
			width: 100%;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				right: 15px;
				width: 10px;
				height: 10px;
				border-bottom: 1px solid #707070;
				border-right: 1px solid #707070;
				transform: rotate(45deg);
				z-index: 1;
				top: 17px;
			}
			select{
				width: 100%;
				position: relative;
				z-index: 4;
				display: block;
				border: .1rem solid #707070;
				border-radius: .6rem;
				height: 48px;
				background: none;
				cursor: pointer;
				&:focus{
					outline: none;
					box-shadow: none;
				}
			}
			& + div{
				display: none;
			}	
		}
	}
}