.page-node-4101 {
	.block-system {
		h2 {
			color: $golden;
			margin-bottom: rem(25px);
			margin-top: rem(50px);
			max-width: rem(400px);
			text-transform: uppercase;

			@include mq('md') {
				max-width: rem(640px);
			}
		}

		h3 {
			color: $black;
			margin-bottom: rem(3px);
		}

		ul {
			margin-top: rem(-15px);
			padding-left: rem(20px);
		}
	}
}