.page-news {
	header {
		&.navbar.container {
			background-image: url("../images/bgs/bg-our-stories.jpg") !important;
			height: rem(359px);

			@include mq('sm') {
				height: rem(271px);
			}

			@include mq('md') {
				height: rem(570px);
			}
		}
	}

	#navbar-collapse > nav > ul > li:nth-child(5) {
		a {
			color: $golden;
			font-family: $gotham-bold;
		}
	}

	.sabc-slider-tabs {
		a.link-1 {
			background-color: $golden;
			color: $white;
		}
	}
	.date-year {
		display: none;
	}

	.views-exposed-widget {
		.btn {
			display: none;
		}
	}

	.block-system {
		.view-header {
			.title-header {
				left: rem(15px);
				position: absolute;
				top: rem(-194px);

				@include mq('sm') {
					top: rem(-156px);
				}

				@include mq('md') {
					left: rem(85px);
					top: rem(-330px);
				}

				@include mq('lg') {
					left: calc(50% - 505px);
				}

				h1 {
					color: #fff;
					font-family: $gotham-black;
					font-size: rem(35px);
					margin: 0;
					max-width: rem(400px);
					text-transform: uppercase;

					@include mq('md') {
						font-size: rem(55px);
						max-width: rem(550px);
					}

					span {
						color: $golden;
					}
				}
			}

			.sabc-slider-tabs {
				left: -20px;
				position: relative;
				width: calc(100% + 40px);

				@include mq('md') {
					left: -80px;
					width: calc(100% + 160px);
				}
			}
		}

		.view-content {
			.view-content {
				list-style: none;
				margin: 0;
				padding: 0;

				@include mq('md') {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}

				.views-row {
					margin: rem(20px) auto;
					max-width: rem(420px);

					@include mq('md') {
						margin: rem(20px) rem(6px);
						max-width: none;
						width: 32%;
					}

					.views-field-field-news-image {
						.field-content {
							border-radius: 10px;
							overflow: hidden;
							@include mq('md') {
								height: rem(190px);
								position: relative;
								width: 100%;
							}
							img {
								width: 100%;

								@include mq('md') {
									left: 50%;
									max-width: 140%;
									position: absolute;
									top: 50%;
									transform: translate(-50%, -50%);
									width: 140%;
								}
							}
						}
					}

					.views-field-title {
						a {
							color: $golden;
							display: block;
							font-family: $gotham-black;
							font-size: rem(18px);
							line-height: 1.1;
							margin: rem(20px) 0;
							text-transform: uppercase;
						}
					}

					.views-field-view-node {
						a {
							background-image: url("../images/misc/arrow-golden-short-right.png");
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							display: block;
							height: rem(20px);
							margin: rem(20px) 0 0;
							text-indent: rem(-9999px);
							width: rem(20px);
						}
					}
				}
			}
		}
		.year {
			color: $golden;
			cursor: pointer;
			font-size: rem(16px);
			outline: initial;
			padding: 0;
			text-align: center;
	
			@include mq("md") {
				font-size: rem(20px);
				padding: 0 rem(20px);
			}
			&.active-year {
				background-color: $golden;
				color: white;
				border-radius: 6px;
			}
		}
		.slick-list {
			@include mq("md") {
				width: 83%;
				margin: 0 auto;
			}
		}
		.slick-arrow {
			background-image: url("../images/misc/arrow-golden-short-right.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			bottom: rem(-13px);
			height: rem(20px);
			position: absolute;
			top: rem(-30px);
			width: rem(25px);
			z-index: 1;
	
			@include mq("md") {
				top: rem(14px);
			}
	
			&.slick-next {
				right: rem(0px);
	
				@include mq("md") {
					right: 5%;
				}
			}
	
			&.slick-prev {
				left: rem(0px);
				transform: translateY(-50%) rotate(-180deg);
	
				@include mq("md") {
					left: 5%;
				}
			}
		}
	}
}