html, .page-brands {
	height: 100%;
}

.page-brands {
	background-color: $footer-gray;
	
	header {
		&.navbar {
			&.container {
				background-image: url("../images/bgs/bg-brands.jpg") !important;
				padding-bottom: rem(300px);

				// @include mq('xs'){
				// 	padding-bottom: rem(220px);
				// }

				@include mq('md'){
					background-position: left top;
					background-size: 40% 100%;
					height: 115%;
					max-height: rem(910px);
					padding-bottom: 0;
				}
			}
		}
	}

	&.page-brands-86 {
		.jumbotron {
			.view-brand-types {
				.view-content {
					.views-row-1 {
						a {
							color: $white;
						}
					}
				}
			}
		}
	}

	&.page-brands-91 {
		.jumbotron {
			.view-brand-types {
				.view-content {
					.views-row-2 {
						a {
							color: $white;
						}
					}
				}
			}
		}
	}

	&.page-brands-96 {
		.jumbotron {
			.view-brand-types {
				.view-content {
					.views-row-3 {
						a {
							color: $white;
						}
					}
				}
			}
		}
	}

	&.page-brands-246 {
		.jumbotron {
			.view-brand-types {
				.view-content {
					.views-row-4 {
						a {
							color: $white;
						}
					}
				}
			}
		}
	}

	.main-container {
		@include mq('md'){
			height: 100%;
			position: absolute;
			top: 0;
		}

		.row {
			@include mq('md'){
				height: 100%;
			}

			> section {
				@include mq('md'){
					height: 100%;
				}
			}
		}

		.jumbotron {
			background-color: transparent;
			height: rem(300px);
			margin: rem(-300px) 0 0;
			padding: 0 rem(20px) rem(25px);

			// @include mq('xs'){
			// 	height: rem(220px);
			// 	margin: rem(-220px) 0 0;
			// }

			@include mq('md'){
				height: auto;
				margin: 0;
				padding: 0 rem(30px);
				position: relative;
				top: rem(220px);
				width: 40%;
			}

			@include mq('lg'){
				max-width: rem(480px);
				padding: 0 rem(70px);
			}

			.view {
				&-header {
					h2 {
						color: $white;
						font-family: $gotham-black;
						font-size: rem(30px);
						margin: 0 0 rem(30px);
						max-width: rem(330px);

						@include mq('md'){
							font-size: (55px);
							line-height: 0.8;
						}

						span {
							color: $golden;
						}
					}
				}

				&-content {
					a {
						display: block;
						color: $category-brand-gray;
						font-family: $gotham-black;
						font-size: rem(18px);

						@include mq('md'){
							font-size: rem(22px);
						}
					}

					.views-row {
						&+ .views-row {
							margin-top: rem(10px);
						}
					}
				}
			}
		}

		.region-content {
			background-color: $black;
			background-image: url("../images/bgs/bg-beers.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 0 rem(20px) rem(40px);

			@include mq('md'){
				background-position: right;
				height: 115%;
				overflow: auto;
				max-height: rem(910px);
				padding-top: rem(180px);
				position: absolute;
				right: 0;
				top: 0;
				width: 60%;
			}

			.block-system {
				padding: 0 0 4rem;
			}

			.block-system > .view-brand-types {
				@include mq('md'){
					left: 0;
					position: absolute;
					right: 0;
					top: calc(50% + 45px);
					transform: translateY(-50%);
				}

				> .view-content {
					.slider-component {
						margin: 0;
						padding: 0;

						.views-row {
							overflow: hidden;
							padding: rem(20px) 0 rem(30px);

							@include mq('md'){
								padding: 0 rem(20px) rem(30px);
							}

							@include mq('lg'){
								padding: 0 rem(50px) rem(30px);
							}

							.views-field {
								color: $white;
								float: right;
								width: 70%;

								p, .field-content {
									color: $medium-gray;
									font-family: $gotham-book;
									font-size: rem(13px);
									line-height: 1.2;

									@include mq('md'){
										font-size: rem(14px);
									}
								}

								p {
									margin-bottom: rem(18px);
								}

								.views-label {
									display: block;
									font-family: $gotham-bold;
									font-size: rem(13px);

									@include mq('md'){
										font-size: rem(15px);
									}
								}
							}

							.views-field-field-brand-image {
								float: left;
								margin-right: rem(20px);
								width: calc(30% - 20px);

								img {
									margin: 0 auto;
									max-width: rem(150px);
									width: 100%;

									@media screen and ('max-height: 700px') and ('min-width: 992px'){
										max-width: rem(120px);
									}
								}
							}

							.views-field-title {
								margin-bottom: rem(15px);

								@include mq('md'){
									margin-bottom: rem(20px);
								}

								a {
									color: $white;
									display: block;
									font-family: $gotham-black;
									font-size: rem(25px);
									line-height: 1;
									pointer-events: none;
									text-transform: uppercase;

									@include mq('md'){
										margin-top: rem(12px);
									}
								}
							}

							.views-field-body {
								strong {
									color: $white;
									display: block;
									font-family: $gotham-book;
									font-size: rem(12px);
									font-weight: normal;
									line-height: 1.4;
									margin-bottom: rem(16px);
									margin-top: rem(-13px);

									@include mq('md'){
										font-size: rem(16px);
										margin-top: rem(-21px);
									}
								}
							}

							.views-field-field-extra-description {
								.field-content {
									color: $white;
								}
							}

							.views-field-field-brand-nutritional-info {
								margin-top: rem(18px);

								> span {
									@include mq('md'){
										margin-bottom: rem(2px);
									}
								}

								ul {
									display: flex;
									flex-wrap: wrap;
									list-style: none;
									margin: 0;
									padding: 0;

									li {
										font-size: rem(9px);
										margin-bottom: rem(8px);
										padding-right: 5px;
										width: 45%;

										@include mq('xs'){
											width: 20%;
										}

										@include mq('md'){
											font-size: rem(10px);
										}

										.number {
											color: $golden;
											font-family: $gotham-bold;
											font-size: rem(30px);

											@include mq('md'){
												font-size: rem(35px);
												margin-bottom: rem(-7px);
											}
										}
									}
								}
							}
						}
					}
				}

				> .attachment {
					@include mq('xs'){
						padding: 0 rem(30px);
					}

					@include mq('md'){
						padding: 0 rem(30px) 0;
					}

					a {
						color: $dark-gray;
						font-family: $gotham-bold;
						font-size: rem(16px);
						pointer-events: none;
					}

					.slick-slider {
						margin: 0;
						padding: 0;
						position: relative;

						a {
							display: block;
							font-size: rem(12px);
							line-height: 1.1;
							padding: 0 rem(3px);
							text-align: center;
						}

						.slick-current {
							a {
								color: $white;
							}
						}

						.slick-list {
							margin: 0 auto;
							width: calc(100% - 60px);
						}

						.slick-track {
							align-items: stretch;
							display: flex;
							justify-content: center;
						}

						.slick-arrow {
							background-image: url("../images/misc/arrow-golden-short-right.png");
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							top: 14%;
							transform: translateY(-50%);

							@include mq('md'){
								top: 23%;
							}

							&.slick-prev {
								transform: rotate(180deg);
								left: 0;
							}

							&.slick-next {
								margin-top: 9px;
								right: 0;
							}
						}

						.slick-slide {
							height: auto;

							@include mq('md'){
								text-align: center;
							}

							&:focus {
								outline: none;
							}

							.views-field-title {
								align-items: center;
								display: flex;
								height: 100%;
								justify-content: center;
							}
						}
					}
				}
			}
		}
	}
}