.page-search {
	a {
		color: $golden;
	}

	.form-wrapper {
		display: none;
	}

	.search-results {
		font-family: $gotham-bold;

		.search-snippet-info {
			font-family: $gotham-book;
		}
	}

	.search-info {
		display: none;
	}
}