.sabc-siteslocation {
	header.navbar.container .title-header h1 {
		@include mq('md') {
			max-width: rem(650px);
		}
	}

	.sabc-slider-tabs {
		a.link-2 {
			background-color: $golden;
			color: $white;
		}
	}

	.locations {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include mq('xs') {
			flex-direction: row;
		}

		.site {
			line-height: 1.3;
			margin: rem(10px);
			width: rem(225px);

			br {
				display: none;
			}

			span {
				display: block;
			}

			.title {
				font-family: $gotham-bold;
			}
		}
	}
}