body {
  &.page-smark-drinking {
    header {
      &.navbar {
        &.container {
          min-height: rem(450px);
          @include mq (md) {
            min-height: 85vh;
          }
          .title-header {
            @include mq (md) {
              padding: 24rem 0 7rem 7rem;
            }
            h1 {
              @include mq (md) {
                max-width: 80rem;
              }
            }
            p {
              @include mq (md) {
                width: 86%;
              }
            }
          }
        }
      }
    }
    .region {
      &-smartop,
      &-smartbot {
        // background-color: #302E2E;
        background-image: url('../images/bgs/background-calculator-black-bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &-smartbot {
        display: flex;
        justify-content: center;
        background-attachment: fixed;
        @include mq (md) {
          padding: rem(40px) 0 rem(160px);
        }
        .img-brand-smart-drinks {
          display: none;
          @include mq (md) {
            display: block;
          }
        }
      }
    }
    #block-system-main {
      display: none;
    }
  }
}