.page-outlet {
  #block-system-main {
    padding: 0;
    background-color: #101010;
  }
  
	.region-content {
		.block-system {
			padding: inherit;
		}
	}
}

#block-sab-map-sab-map-map {

  background-color: #101010;
  padding: 4rem 0;

  h1, h2 {
    color: $golden;
    font-family: $gotham-black;
    font-size: rem(35px);
    margin: 0 auto 4rem auto;
    max-width: rem(400px);
    text-transform: uppercase;
    text-align: center;

    @include mq('md') {
      font-size: rem(55px);
      max-width: rem(900px);
    }
  }

  p{
    color: $white;
    font-size: rem(13px);
    line-height: 1.1;
    margin-bottom: rem(20px);

    @include mq('md') {
      font-size: rem(16px);
    }
  }

  select {
    width: 100%;
    padding: 6px 12px;
    position: relative;
    display: block;
    border: .1rem solid #707070;
    border-radius: .6rem;
    height: 48px;
    background: white;
    cursor: pointer;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  .b-gmap__info-map {
    p {
      @include mq('lg') {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .b-gmap__map-filters {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 4rem;
    height: auto;
    width: 100%;
    @include mq('lg') {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
    }
  }

  .b-gmap__select-filter {
    padding-bottom: 2.4rem;
    width: 100%;
    text-align: left;
    @include mq('lg') {
      width: 48%;
    }
  }

  .b-gmap__map-iframe-api-container .embed-responsive {
    border-radius: 15px;
  }

}
