.page-node-4356 {
	.sabc-slider-tabs {
		a.link-1 {
			background-color: $golden;
			color: $white;
		}
	}

	.block-system {
		h1 {
			color: $black;
			font-family: $gotham-black;
			font-size: rem(20px);
			margin-bottom: rem(25px);
			text-transform: uppercase;

			@include mq('md') {
				font-size: rem(32px);
			}
		}

		p {
			a {
				background-color: $golden;
				border-radius: rem(6px);
				border: none;
				color: $white;
				display: block;
				font-size: rem(14px);
				margin: rem(50px) auto 0;
				padding: rem(10px);
				text-align: center;
				width: rem(120px);

				@include mq('md') {
					font-size: rem(16px);
					padding: rem(15px) rem(20px);
					width: rem(150px);
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}