.page-node-16 {
	.region-content {
		display: flex;
		flex-direction: column-reverse;

		.sabc-slider-tabs {
			width: 100%;
		}

		.block-system {
			height: calc(100vh - 260px);
			text-align: center;

			@include mq('md') {
				height: calc(100vh - 360px);
			}

			.webform-confirmation {
				left: 50%;
				padding: 0 rem(20px);
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;

				p {
					font-family: $gotham-black;
					font-size: rem(20px);
				}
			}

			.links {
				display: none;
			}
		}
	}
}